:root {
  --color-rojo-general: #dd0329;
  --color-blanco-fondo: #ededed;
  --color-celeste-items: #2972b8;

  --color-amarillo-logo: #ffcb05;
  --color-gris-desabilitado: #6a737b;
}

body {
  background-color: var(--color-blanco-fondo);
}

/* CABECERA */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-rojo-general);
}
.contenedor-logo {
  display: flex;
  justify-content: center;
  width: 100px;
  max-width: 500px;
  max-height: 100px;
  padding: 20px 0;
  overflow: hidden;
}
#logo-cabecera {
  max-width: 50%;
  max-height: 50%;
  height: auto;
  width: auto;
}
.contenedor-buscador {
  width: 250px;
  padding: 20px 0;
  padding-bottom: 20px;
}
.boton-buscar-pokemon {
  background-color: var(--color-celeste-items);
  color: var(--color-blanco-fondo);
}

/* MAIN */

#seccion-principal {
  display: flex;
}

/* Listado pokemones */

.contenedor-listado-pokemones {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0;
}
.nombre-pokemon-listado {
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border-bottom: 1px solid;
  border-color: var(--color-gris-desabilitado);
}

/* Información del pokémon */

.contenedor-informacion-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.contenedor-identificacion-pokemon{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  width: 100%;
}
#imagen-pokemon {
  height: 80%;
  width: 100%;
}
